.prose {
  max-width: 65ch;
}
.prose :where(p) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose :where(a) {
  text-decoration: underline;
  font-weight: 500;
}
.prose :where(strong) {
  font-weight: 600;
}
.prose :where(a strong) {
  color: inherit;
}
.prose :where(blockquote strong) {
  color: inherit;
}
.prose :where(thead th strong) {
  color: inherit;
}
.prose :where(ol) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}
.prose :where(ol[type="A"]) {
  list-style-type: upper-alpha;
}
.prose :where(ol[type="a"]) {
  list-style-type: lower-alpha;
}
.prose :where(ol[type="A" s]) {
  list-style-type: upper-alpha;
}
.prose :where(ol[type="a" s]) {
  list-style-type: lower-alpha;
}
.prose :where(ol[type="I"]) {
  list-style-type: upper-roman;
}
.prose :where(ol[type="i"]) {
  list-style-type: lower-roman;
}
.prose :where(ol[type="I" s]) {
  list-style-type: upper-roman;
}
.prose :where(ol[type="i" s]) {
  list-style-type: lower-roman;
}
.prose :where(ol[type="1"]) {
  list-style-type: decimal;
}
.prose :where(ul) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}
.prose :where(ol > li)::marker {
  font-weight: 400;
}
.prose :where(ul > li)::marker {
}
.prose :where(hr) {
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.prose :where(blockquote) {
  font-weight: 500;
  font-style: italic;
  border-left-width: 0.25rem /* 4px */;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"] *)
  )::before {
  content: open-quote;
}
.prose :where(blockquote p:last-of-type)::after {
  content: close-quote;
}
.prose :where(h1) {
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.prose :where(h1 strong) {
  font-weight: 900;
  color: inherit;
}
.prose :where(h2) {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.prose :where(h2 strong) {
  font-weight: 800;
  color: inherit;
}
.prose :where(h3) {
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.prose :where(h3 strong) {
  font-weight: 700;
  color: inherit;
}
.prose :where(h4) {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.prose :where(h4 strong) {
  font-weight: 700;
  color: inherit;
}
.prose :where(img) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(figure > *) {
  margin-top: 0;
  margin-bottom: 0;
}
.prose :where(figcaption) {
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.prose :where(code) {
  font-weight: 600;
  font-size: 0.875em;
}
.prose :where(table) {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.prose :where(thead) {
  border-bottom-width: 1px;
}
.prose :where(thead th) {
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose :where(tbody tr) {
  border-bottom-width: 1px;
}
.prose :where(tbody tr:last-child) {
  border-bottom-width: 0;
}
.prose :where(tbody td) {
  vertical-align: baseline;
}
.prose :where(tfoot) {
  border-top-width: 1px;
}
.prose :where(tfoot td) {
  vertical-align: top;
}
.prose {
  font-size: 1rem /* 16px */;
  line-height: 1.75;
}
.prose :where(video) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(figure) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(li) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose :where(ol > li) {
  padding-left: 0.375em;
}
.prose :where(ul > li) {
  padding-left: 0.375em;
}
.prose :where(.prose > ul > li p) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose :where(.prose > ul > li p) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose :where(.prose > ul > li > *:first-child) {
  margin-top: 1.25em;
}
.prose :where(.prose > ul > li > *:first-child) {
  margin-top: 1.25em;
}
.prose :where(.prose > ul > li > *:last-child) {
  margin-bottom: 1.25em;
}
.prose :where(.prose > ul > li > *:last-child) {
  margin-bottom: 1.25em;
}
.prose :where(.prose > ol > li > *:first-child) {
  margin-top: 1.25em;
}
.prose :where(.prose > ol > li > *:first-child) {
  margin-top: 1.25em;
}
.prose :where(.prose > ol > li > *:last-child) {
  margin-bottom: 1.25em;
}
.prose :where(.prose > ol > li > *:last-child) {
  margin-bottom: 1.25em;
}
.prose :where(ul ul, ul ol, ol ul, ol ol) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose :where(hr + *) {
  margin-top: 0;
}
.prose :where(h2 + *) {
  margin-top: 0;
}
.prose :where(h3 + *) {
  margin-top: 0;
}
.prose :where(h4 + *) {
  margin-top: 0;
}
.prose :where(thead th:first-child) {
  padding-left: 0;
}
.prose :where(thead th:last-child) {
  padding-right: 0;
}
.prose :where(tbody td, tfoot td) {
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~="not-prose"] *)
  ) {
  padding-left: 0;
}
.prose
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~="not-prose"] *)
  ) {
  padding-right: 0;
}
.prose :where(.prose > :first-child) {
  margin-top: 0;
}
.prose :where(.prose > :first-child) {
  margin-top: 0;
}
.prose :where(.prose > :last-child) {
  margin-bottom: 0;
}
.prose :where(.prose > :last-child) {
  margin-bottom: 0;
}
